torch~=2.6.0
uvicorn~=0.34.1
fastapi~=0.115.12
ultralytics~=8.3.111
pillow~=11.2.1
huggingface-hub~=0.30.2
dotenv~=0.9.9
python-dotenv~=1.1.0
transformers~=4.51.3
langchain
langchain-huggingface
python-multipart
h11
numpy
pillow
attrs
filelock
requests
colorama
PyYAML
idna
multidict
propcache
typing_extensions
sniffio
click
httpcore
httpx
zstandard
charset-normalizer
setuptools
pytz
regex
scipy
threadpoolctl
torch
matplotlib
mpmath
sympy
tqdm
torchvision
psutil
packaging
urllib3
fsspec
aiohttp
yarl
MarkupSafe
joblib
orjson
aiosignal
frozenlist
aiohappyeyeballs
certifi
scikit-learn
pandas
greenlet
anyio
networkx
pydantic
pydantic_core
annotated-types
tenacity
langchain-core
langsmith
langchain-text-splitters
SQLAlchemy
requests-toolbelt
tokenizers
safetensors
jsonpointer
Jinja2
starlette
opencv-python
jsonpatch
sentence-transformers
python-dotenv